@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|PT+Serif:400|Roboto:400");

header {
  max-width: 1000px;
  width: 90%;
  margin: 20px auto 20px auto;
  text-align: left;
  border-bottom: 1px solid silver;
}

h1 {
  margin-bottom: 5px;
  font-size: 2em;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: bold;
}

h3 {
  margin: 0px auto 10px auto;
  color: gray;
  font-size: 1em;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-weight: normal;
}

h3 a {
  color: gray;
}

h3 a:hover {
  color: black;
}

body {
  width: 95%;
  margin: auto;
  background-color: #ffffff;
}

article {
  margin-bottom: 40px;
}

.instructions {
  margin: auto;
  text-align: center;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-style: italic;
}

.headline-container {
  max-width: 800px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.headline-start-container,
.headline-end-container {
  width: 45%;
  margin: 20px auto 0px auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headline-start-container {
  margin-right: 0px;
}

.headline-end-container {
  margin-left: 0px;
}

.headline-start-element,
.headline-end-element {
  width: 100%;
  min-height: 50px;
  margin: 5px;
  padding: 10px;
  display: inline-flex;
  border-radius: 5px;
}

.headline-start-element {
  background-color: #e4e4e4;
  text-align: right;
}

.headline-end-element {
  background-color: #f4f4f4;
  text-align: left;
  touch-action: none;
  cursor: grab;
}

a, .headline-text {
  margin: 0px;
  font-size: 1em;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-weight: normal;
  color: black;
}

.gu-transit {
  opacity: 0.8;
}

.gu-mirror {
  opacity: 0.5;
  border: 2px solid lightgray;
}

.controls-container {
  width: 100%;
  margin: 0px auto;
}

.button {
  height: 50px;
  width: 30%;
  margin: 0px auto 20px auto;

  color: white;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;

  text-align: center;
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.4em;

  transition-duration: 0.2s;
}

.button:hover {
  background-color: green;
  cursor: pointer;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  header {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  h3, h3 a {
    font-size: 1em;
  }

  article {
    margin-bottom: 20px;
  }

  .headline-container {
    margin-bottom: 5px;
  }

  .headline-start-container,
  .headline-end-container {
    width: 50%;
    margin: 0px auto;
  }

  .headline-start-element {
    margin: 2px 2px 2px 0px;
  }
  
  .headline-end-element {
    margin: 2px 0px 2px 2px;
  }

  a, .headline-text {
    margin: 0px;
    font-size: 0.8em;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: normal;
  }

  .button {
    width: 100%;
  }
}
